<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.AttendsMapper" >
  <resultMap id="BaseResultMap" type="com.jk.entity.Attends" >
    <id column="attends_id" property="attendsId" jdbcType="BIGINT" />
    <result column="attends_ip" property="attendsIp" jdbcType="VARCHAR" />
    <result column="attends_remark" property="attendsRemark" jdbcType="VARCHAR" />
    <result column="attends_time" property="attendsTime" jdbcType="TIMESTAMP" />
    <result column="status_id" property="statusId" jdbcType="BIGINT" />
    <result column="type_id" property="typeId" jdbcType="BIGINT" />
    <result column="attends_user_id" property="attendsUserId" jdbcType="BIGINT" />
    <result column="attend_hmtime" property="attendHmtime" jdbcType="VARCHAR" />
    <result column="week_ofday" property="weekOfday" jdbcType="VARCHAR" />
    <result column="holiday_days" property="holidayDays" jdbcType="DOUBLE" />
    <result column="holiday_start" property="holidayStart" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    attends_id, attends_ip, attends_remark, attends_time, status_id, type_id, attends_user_id, 
    attend_hmtime, week_ofday, holiday_days, holiday_start
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from aoa_attends_list
    where attends_id = #{attendsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from aoa_attends_list
    where attends_id = #{attendsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jk.entity.Attends" >
    insert into aoa_attends_list (attends_id, attends_ip, attends_remark, 
      attends_time, status_id, type_id, 
      attends_user_id, attend_hmtime, week_ofday, 
      holiday_days, holiday_start)
    values (#{attendsId,jdbcType=BIGINT}, #{attendsIp,jdbcType=VARCHAR}, #{attendsRemark,jdbcType=VARCHAR}, 
      #{attendsTime,jdbcType=TIMESTAMP}, #{statusId,jdbcType=BIGINT}, #{typeId,jdbcType=BIGINT}, 
      #{attendsUserId,jdbcType=BIGINT}, #{attendHmtime,jdbcType=VARCHAR}, #{weekOfday,jdbcType=VARCHAR}, 
      #{holidayDays,jdbcType=DOUBLE}, #{holidayStart,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.entity.Attends" >
    insert into aoa_attends_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attendsId != null" >
        attends_id,
      </if>
      <if test="attendsIp != null" >
        attends_ip,
      </if>
      <if test="attendsRemark != null" >
        attends_remark,
      </if>
      <if test="attendsTime != null" >
        attends_time,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="attendsUserId != null" >
        attends_user_id,
      </if>
      <if test="attendHmtime != null" >
        attend_hmtime,
      </if>
      <if test="weekOfday != null" >
        week_ofday,
      </if>
      <if test="holidayDays != null" >
        holiday_days,
      </if>
      <if test="holidayStart != null" >
        holiday_start,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attendsId != null" >
        #{attendsId,jdbcType=BIGINT},
      </if>
      <if test="attendsIp != null" >
        #{attendsIp,jdbcType=VARCHAR},
      </if>
      <if test="attendsRemark != null" >
        #{attendsRemark,jdbcType=VARCHAR},
      </if>
      <if test="attendsTime != null" >
        #{attendsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=BIGINT},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=BIGINT},
      </if>
      <if test="attendsUserId != null" >
        #{attendsUserId,jdbcType=BIGINT},
      </if>
      <if test="attendHmtime != null" >
        #{attendHmtime,jdbcType=VARCHAR},
      </if>
      <if test="weekOfday != null" >
        #{weekOfday,jdbcType=VARCHAR},
      </if>
      <if test="holidayDays != null" >
        #{holidayDays,jdbcType=DOUBLE},
      </if>
      <if test="holidayStart != null" >
        #{holidayStart,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.entity.Attends" >
    update aoa_attends_list
    <set >
      <if test="attendsIp != null" >
        attends_ip = #{attendsIp,jdbcType=VARCHAR},
      </if>
      <if test="attendsRemark != null" >
        attends_remark = #{attendsRemark,jdbcType=VARCHAR},
      </if>
      <if test="attendsTime != null" >
        attends_time = #{attendsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=BIGINT},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
      <if test="attendsUserId != null" >
        attends_user_id = #{attendsUserId,jdbcType=BIGINT},
      </if>
      <if test="attendHmtime != null" >
        attend_hmtime = #{attendHmtime,jdbcType=VARCHAR},
      </if>
      <if test="weekOfday != null" >
        week_ofday = #{weekOfday,jdbcType=VARCHAR},
      </if>
      <if test="holidayDays != null" >
        holiday_days = #{holidayDays,jdbcType=DOUBLE},
      </if>
      <if test="holidayStart != null" >
        holiday_start = #{holidayStart,jdbcType=DATE},
      </if>
    </set>
    where attends_id = #{attendsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.entity.Attends" >
    update aoa_attends_list
    set attends_ip = #{attendsIp,jdbcType=VARCHAR},
      attends_remark = #{attendsRemark,jdbcType=VARCHAR},
      attends_time = #{attendsTime,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=BIGINT},
      type_id = #{typeId,jdbcType=BIGINT},
      attends_user_id = #{attendsUserId,jdbcType=BIGINT},
      attend_hmtime = #{attendHmtime,jdbcType=VARCHAR},
      week_ofday = #{weekOfday,jdbcType=VARCHAR},
      holiday_days = #{holidayDays,jdbcType=DOUBLE},
      holiday_start = #{holidayStart,jdbcType=DATE}
    where attends_id = #{attendsId,jdbcType=BIGINT}
  </update>
  <select id="attendsList" resultMap="BaseResultMap" parameterType="com.jk.entity.Attends">
      select  *  from  aoa_attends_list
  </select>
</mapper>